<!-- Maintainer Pernilla Ericsson -->
{% extends "header_layout.html" %}
{% block header_content %}
    <table id='info-table' style="text-align: left">
        <tr> <th>Run id: {{run_id}}</th> </tr>
    </table>
{% endblock header_content %}
<!-- Begins below -->


{% block page_content %}
    {% for df_list in row_lists%}
        {% set column_names_no_step = column_names[1:] %}
        {% set column_names_no_step_len = str(len(column_names_no_step)-1) %}
        {% set column_names_no_step_perc = str(100/len(column_names_no_step)) %}

        <br>
        <table id='table' class='tablesorter'>
            <thead>
                <tr class="header">
                    <th colspan={{ column_names_no_step_len }} >{{ df_list[0][0].replace("_", " ").title() }}</th>
                    <th><span>-</span></th>
                </tr>

                <tr class="header">
                    <!-- Prints column headers -->
                    {% for col_value in column_names_no_step %}
                        <th style="width:{{ column_names_no_step_perc }}%;" >{{ col_value.replace("_", " ").title() }}</th>
                    {% endfor %}
                </tr>

            </thead>
            <tbody>
                <!-- Now we traverse each row and zip it with coumnnames -->
                {% for row_list in df_list %}
                    {% set current_row = namespace(kingdom_id=0) %}
                    <tr>
                        {% set row_list_no_step = row_list[1:] %}
                        {% for col_value, row_value in zip(column_names_no_step, row_list_no_step) %}
                            {% if df_list[0][0] == "classified_reads_mincount" and col_value == "type" %}
                                {% set current_row.kingdom_id = row_value %}
                                <td>{{ row_value }}</td>
                            {% elif df_list[0][0] == "classified_reads_mincount" and col_value == "count" %}
                                <td> <a href="{{ url_for('get_file', file_name = '%s/%s%s' % (case, current_row.kingdom_id, fastq_suffix) ) }}" target="_blank">{{ int(row_value) }}</a>  </td>
                            {% elif df_list[0][0] == "classified_reads_mincount" and col_value == "count_case" %}
                                <td> <a href="{{ url_for('get_file', file_name = '%s/%s%s' % (case, current_row.kingdom_id, fastq_suffix) ) }}" target="_blank">{{ int(row_value) }}</a>  </td>
                            {% elif df_list[0][0] == "classified_reads_mincount" and col_value == "count_control" %}
                                <td> <a href="{{ url_for('get_file', file_name = '%s/%s%s' % (control, current_row.kingdom_id, fastq_suffix) ) }}" target="_blank">{{ int(row_value) }}</a>  </td>

                            {% elif df_list[0][0] == "count_unclassified_reads" and col_value == "count" %}
                                <td> <a href="{{ url_for('get_file', file_name = '%s' % (case_unclassified) ) }}" target="_blank">{{ int(row_value) }}</a>  </td>
                            {% elif df_list[0][0] == "count_unclassified_reads" and col_value == "count_case" %}
                                <td> <a href="{{ url_for('get_file', file_name = '%s' % (case_unclassified) ) }}" target="_blank">{{ int(row_value) }}</a>  </td>
                            {% elif df_list[0][0] == "count_unclassified_reads" and col_value == "count_control" %}
                                <td> <a href="{{ url_for('get_file', file_name = '%s' % (control_unclassified) ) }}" target="_blank">{{ int(row_value) }}</a>  </td>
                            {% else %}
                                <td>{{ row_value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script type="text/javascript" src="{{ url_for('static', filename='js/table_sorting_settings.js') }}"></script> 
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js2/jquery.tablesorter.js') }}"></script>  -->
    {% endfor %}

{% endblock page_content %}